.menu{
  display: flex;
  background-color: blanchedalmond;
  border-radius: 10px;
  z-index: 999;
}

.menu li{
  width: 200px;
  z-index: 999;
  list-style: none;
  background-color: blanchedalmond;
  position: relative;
}
.menu a{
  color: black;
  display: block;
  text-align: center;
  padding: 10px 10px;
  height: 40px;
  line-height: 40px;
  transition: all .5s;
  z-index: 999;
}

.menu a:hover{
  background: rgb(255, 197, 111);
  z-index: 999;
}

.menu ul{
  position: absolute;
  text-align: center;
  left: 0;
  top:100%;
  display: none;
  padding: 0;
  z-index: 999;
}

.menu li:hover ul{
  display: block;
  z-index: 999;
}
body {
    width:100%;
    margin:0;
  }
  .content {
    width: 100%;
    height:150vh;
    background: url("adminPh.jpg");
    background-size: cover;
    position: relative;
  }

  .headline {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
    color: white;
    position: fixed;
    top:10px;
    width:100%;
    text-align: center;
    animation-name: movment;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes movment{
    100%{
      top: 50%;
      font-size: 150px;
        color: rgb(18, 231, 18);
    }
}

  .mask {
    mask:url("adminSvg.svg");
    mask-size: cover;
    -webkit-mask:url("adminSvg.svg");
    -webkit-mask-size:cover;
    width:100%;
    height:100%;
  }

  /* .content {
    width: 50%;
    height:50%;
    background: url("adminPh.jpg");
    background-size: cover;
    position: relative;
  } */